@import 'bourbon'; // http://bourbon.io/
@import 'partials/variables'; // colors, fonts etc...
@import 'partials/mixins'; // custom mixins
@import 'partials/layout'; // responsive grid and media queries

*, *::after, *::before {
  @include box-sizing(border-box);
}

body {
  padding: 0;
  margin: 0;
  font: {
    size: 1.6rem;
    family: $primary-font;
  }

  @include font-smoothing;
}

a {
  text-decoration: none;
  color: $grey-font;
}

.grid-wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 6fr;
  width: 100%;
  height: 100vh;
}

.sidebar {
  grid-column: 1;
  width: 100%;
  max-width: 281px;
  background: $sidebar-bg;
  color: $white;
}

.content {
  grid-column: 2;
  width: 100%;
  max-width: 1920px;
}

.bar {
  font-size: 1.4rem;
  padding: 10px;
  height: 80px;
  h2 {

    font:  {
      weight: normal;
    }
    margin: 0;
  }

  &.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;

    font: {
      family: $secondary-font;
      size: 1.2rem;    
    }

    background: $sidebar-header;
  }

  &.topbar-header {
    display: flex;
    flex-wrap: wrap;
    background: $topbar-header;
    padding: 20px 0;

    .searchbar {
      width: 87%;
      margin: 0px 0px 0px 10px;
      padding-left: 33px;

      input[type="text"] {
        font: {
          size: 0.85rem;
          style: italic;
          family: $primary-font;
          weight: 600;
        }

        width: 250px;
        height: 45px;
        padding: 0 20px;
        border: 1px solid $topbar-header;
        outline: none;
        border-radius: 50px;
      }
    }

    .user-profile {
      width: 350px;
      flex: 1;
      display: flex;
      align-self: flex-start;
      font: {
        size: 1.6rem;
      }

      span {
        position: relative;
        top: -4px;
        padding-left: 7px;
        font: {
          size: 0.95rem;
        }

        line-height: 2.3rem;
      }
    }
  }
}

.search-icon {
  position: relative;
  right: 40px;
}

.navigation {
  ul {
    li {
      list-style-type: none;
      
      &:nth-child(2n+0) {
        line-height: 3.0;
      }

      a {

        font: {
          size: 1rem;
          weight: 400;
        }

        color: $white;

        i {
          padding-right: 13px;
        }
      }

    }
  }
}

.items-container {
  padding: 10px 50px;
  flex: 0 0 100%;
  width: 70vw;

  span {
    color: $grey-font;
    display: block;
    padding-top: 5px;
    font: {
      size: 0.9rem;
      weight: 400;
    }

    &:last-child {
      color: $item-author;
      padding-top: 3px;
      font: {
        size: 0.7rem;
        weight: 400;
      }
    }
  }

  img {
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  ul {
    padding: 0;

    li {
      display: inline-block;
      margin: 0 30px 35px 0;
      list-style-type: none;
    }
  }
}

.items-header {
  font: {
    size: 1.5rem;
    weight: 400;
  }

  line-height: 2;
  color: $items-header;
  border-bottom: 1px solid $line;
}
